<div class="sidebar content-wrapper-sidebar" data-color="red" data-image="">
	<div class="logo">
	    <a class="simple-text">
	        <div class="logo-img">
	            <img src="vendor/img/angular2-logo-red.png" />
	        </div>
	        List of Venders
	    </a>
	</div>
	<div class="sidebar-wrapper">
	    <div class="nav-container">
	    	<div class="error" *ngIf="listOfStores?.length === 0">No Shops Found</div>
	        <ul class="nav" *ngIf="listOfStores.length > 0">
	            <li class="active">
	                <a href="#/dashboard">
	                    <i class="material-icons">opacity</i>
	                    <p>Dashboard</p>
	                </a>
	            </li>
	            <li *ngFor="let shop of listOfStores">
	            	<span (click)="showItems($event, shop)">
	                    <i class="material-icons">opacity</i>
	                    <p>{{shop.company}}</p>
	                </span>
	            </li>
	            
	        </ul>

		    <div class="moving-tab" *ngIf="listOfStores.length > 0" style="width: 310px; transform: translate3d(0px, 20px, 0px); transition: all 0.5s cubicBezier(0.29, 1.42, 0.79, 1);">
				<i class="material-icons">dashboard</i>
				<p>Dashboard</p>
			</div>
		</div>
	</div>
	<div class="sidebar-background" style="backgroundImage: url(/img/sidebar-4.jpg)"></div>
</div>