<app-header></app-header>
<div class="container-fluid">
    <div class="card-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 addshop-container">
                <!-- <form> -->
                    <div class="form-group">
                        <label>Shop Name</label>
                        <input type="text" [(ngModel)]="shopInputs.shopName" class="form-control" id="shopName" placeholder="Shop Name">
                    </div>
                    <div class="form-group">
                        <label>Land Mark</label>
                        <input type="text" [(ngModel)]="shopInputs.landMark" class="form-control" id="landMark" placeholder="Land Mark">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" [(ngModel)]="shopInputs.city" class="form-control" id="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <label>ZIP code</label>
                        <input type="text" [(ngModel)]="shopInputs.zip" class="form-control" id="zip" placeholder="ZIP">
                    </div>
                    <h4>Add Product</h4>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" [(ngModel)]="product.name" class="form-control" id="shopName" placeholder="Product Name">
                    </div>

                    <div class="form-group">
                        <label>Produt Type</label>
                        <select>
                          <option>Water Tanker</option>
                          <option>Water Can </option>
                          <option>Water Bottle</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" [(ngModel)]="product.quantity" class="form-control" id="city" placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" [(ngModel)]="product.price" class="form-control" id="zip" placeholder="price">
                    </div>
                    <button type="submit" (click)="handleAddShopClick($event)" class="btn btn-default">Submit</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<form>
    <!-- <label>
            <select>
                <option>Choose your stores</option>
                <option> Kaveri Jal</option>
                <option> Tunga Waters </option>
                <option> Himalaya Pure water</option>
            </select>
        </label>
    
    <div class="col-md-8 ">
        <div class="expanded button-group">
            <a class="success button" (click)="addProduct()">Add Shop</a>
            <a class="cancel button" (click)="cancel()">Cancel</a>
        </div>
    </div>
</form> -->
