<span [shopCloseDirective]="shop.prefferedDeliveryTime | datePipe | customCheckForClosedPipe" (click)="showStore()">
      <i class="material-icons">opacity</i>
      <p>{{shop.company}}</p>
      <p *ngIf="shop.prefferedDeliveryTime | datePipe | customCheckForClosedPipe">
        Closed
      </p>
      <p *ngIf="!(shop.prefferedDeliveryTime | datePipe | customCheckForClosedPipe)">
        {{this.timeTaken}}
      </p>
      <button class="" name="button" (click)="this.check()"></button>
  </span>
