<span [shopCloseDirective]="shop.prefferedDeliveryTime | datePipe | customCheckForClosedPipe" (click)="showStore()">
      <i class="material-icons">opacity</i>
      <p>{{shop.company}}</p>
      <p class="shop-closed" *ngIf="shop.prefferedDeliveryTime | datePipe | customCheckForClosedPipe"    [ngStyle]="{
    		'color': getColor(shop.prefferedDeliveryTime | datePipe | customCheckForClosedPipe),
    		'margin-left': '45px',
    		'margin-top': '-10px'
		}">
        Closed Now
      </p>
      <p *ngIf="timeTaken" [ngStyle]="{
    		'margin-left': '45px',
    		'margin-top': '-10px'
		}">
        Delivered in {{this.timeTaken}}
      </p>
  </span>
