<div class="item-left pull-left">
	<div>{{brand.name}}</div>
	<div>&#8377; {{brand.price}}</div>
</div>
<input type="text" class="hiddenValue" (click)="incrementalValue($event)" name="itemQuantityKinley_{{index}}" [value]= "name1 " id="itemQuantityKinley_{{index}}" >
<label for="itemQuantityKinley_{{index}}" class="item-right-increment pull-right">
	<span class="ui left attached button dec" (click)="changeValue($event)"> – </span>
	<input type="text" class="inc-dec" [(ngModel)]="name1" readonly="" >
	<span class="ui right attached button inc" (click)="changeValue($event)"> + </span>
</label>