<div class="sidebar content-wrapper-sidebar">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
            	<i class="material-icons">opacity</i>
            </div>
            ABC Water Supply
        </a>
    </div>
    <div class="sidebar-wrapper">
	    <div class="supplier-details-wrapper">
	    	<div class="order-item">
	    		<div class="order-item-heading">Available item type</div>
	    		<div class="order-item-container">
	    			<div class="item-left pull-left">
	    				<div>Tanker Water</div>
	    				<div>&#8377; 16</div>
	    			</div>
	    			<input type="checkbox" class="hiddenValue" (click)="brands($event)" name="slectCheckbox" id="slectCheckbox" >
	    			<label for="slectCheckbox" class="item-right pull-right">Select</label>
	    		</div>
	    	</div>
	    	<div class="order-item">
	    		<div class="order-item-heading">Available brands</div>
	    		<div class="order-item-container">
	    			<div class="item-left pull-left">
	    				<div>Bisleri</div>
	    				<div>&#8377; 16</div>
	    			</div>
	    			<input type="text" class="hiddenValue" (click)="brandss($event)" name="itemQuantityBisleri" [value]= "name1 " id="itemQuantityBisleri" >
	    			<label for="itemQuantityKinley" class="item-right-increment pull-right">
	    				<span class="ui left attached button dec" (click)="changeValue($event)"> – </span>
	    				<input type="text" class="inc-dec" [(ngModel)]="name1" readonly="" >
	    				<span class="ui right attached button inc" (click)="changeValue($event)"> + </span>
	    			</label>
	    		</div>
	    		<div class="order-item-container">
	    			<div class="item-left pull-left">
	    				<div>Kinley</div>
	    				<div>&#8377; 16</div>
	    			</div>
	    			<input type="text" class="hiddenValue" (click)="brandss($event)" name="itemQuantityKinley" [value]= "name1 " id="itemQuantityKinley" >
	    			<label for="itemQuantityKinley" class="item-right-increment pull-right">
	    				<span class="ui left attached button dec" (click)="changeValue($event)"> – </span>
	    				<input type="text" class="inc-dec" [(ngModel)]="name1" readonly="" >
	    				<span class="ui right attached button inc" (click)="changeValue($event)"> + </span>
	    			</label>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
