<div class="sidebar content-wrapper-sidebar">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
            	<i class="material-icons">opacity</i>
            </div>
            ABC Water Supply
        </a>
    </div>
    <div class="sidebar-wrapper">
	    <div class="supplier-details-wrapper">
	    	<div class="order-item">
	    		<div class="order-item-heading">Available item type</div>
	    		<div class="order-item-container">
	    			<div class="item-left pull-left">
	    				<div>Tanker Water</div>
	    				<div>&#8377; 16</div>
	    			</div>
	    			<div class="item-right pull-right" (click)="somefun()">Select</div>
	    		</div>
	    	</div>
	    	<div class="order-item">
	    		<div class="order-item-heading">Available brands</div>
	    		<div class="order-item-container">
	    			<div class="item-left pull-left">
	    				<div>Bisleri</div>
	    				<div>&#8377; 16</div>
	    			</div>
	    			<div class="item-right pull-right">Add</div>
	    		</div>
	    		<div class="order-item-container">
	    			<div class="item-left pull-left">
	    				<div>Kinley</div>
	    				<div>&#8377; 16</div>
	    			</div>
	    			<div class="item-right pull-right">Add</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
