<div class="sidebar content-wrapper-sidebar">
	<button class="btn btn-default" (click)="moveToList()" type="button">< Back</button> 
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
            	<i class="material-icons">opacity</i>
            </div>
            ABC Water Supply
        </a>
    </div>
    <div class="sidebar-wrapper">
	    <div class="supplier-details-wrapper">
	    	<div class="order-item">
	    		<div class="order-item-heading">Available item type</div>
	    		<div class="order-item-container" *ngFor="let item of listOfItemsType;let i=index">
	    			<app-cart-item-type [itemType] = "item" [index] = "i" (targetItemType)="handleTargetItemType($event)"></app-cart-item-type>
	    		</div>
	    	</div>
	    	<div class="order-item">
	    		<div class="order-item-heading">Available Brands</div>
	    		<div *ngFor="let brand of listOfBrands; let i=index" class="order-item-container">
	    			<app-increment-list [brand]="brand" [index] = "i" (targetBrand)="handleTargetBrand($event)"></app-increment-list>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="cartBtn">
		<button type="button" class="btn btn-info btn-primary btn-lg btn-block pointer" (click)="checkBtn($event)">ADD TO CART</button>
	</div>
	
</div>
<p class="error-field" *ngIf="noItem">No items selected</p>
