
	<div class="card-header clearfix" data-background-color="red" style="margin-bottom: 45px;">
        <form class="navbar-form navbar-left fullWidth" role="search">
            <div class="form-group form-black is-empty fullWidth">
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" style="width: 100%" class="form-control fullWidth" #mapSearch disabled/>
                <span class="material-input"></span>
            <span class="material-input"></span></div>
        </form>
    </div>
