<!-- BEGIN # MODAL LOGIN -->
<div class="modal-backdrop fade in {{alterDisplay}}"></div>
<div class="modal fade {{alterDisplay}}" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity: 1">
    	<div class="modal-dialog modal-display">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="material-icons" (click)="handlePopup($event)">close</i>
					</button>
				</div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form" [formGroup]="form"
                    (ngSubmit)="onSubmit(form.value)">
		                <div class="modal-body">
                            <div class="col-xs-8">
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Shop Name</th>
                                        <th>Item</th>
                                        <th>Ouantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of products">
                                        <td>{{item.shopName}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.qty}}</td>
                                        <td>&#8377; {{item.price}}</td>
                                        <td>&#8377; {{item.qty * item.price }}</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix total-section">
                                    <strong class="pull-left">Total:</strong>
                                    <strong class="pull-right">&#8377; {{ getTotal(products) }}</strong>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                  <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" formControlName="name" >
                                    <div *ngIf="form.controls.name.errors?.pattern" class="error">
                                      Name has invalid characters
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label">Email Address</label>
                                    <input type="text" class="form-control" placeholder="Enter Email Address" name="email" id="email" formControlName="email" >
                                    <div *ngIf="form.controls.email.errors?.pattern" class="error">
                                      Email has invalid characters
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label">Mobile number</label>
                                    <input type="number" class="form-control" placeholder="Enter Mobile Number" name="mobile" id="mobile" formControlName="mobile" >
                                    <div *ngIf="form.controls.mobile.errors?.pattern" class="error">
                                      Mobile has invalid characters
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label">Shipping Address</label>
                                    <textarea class="form-control" name="address" id="address" formControlName="address"></textarea>
                                    <div *ngIf="form.controls.address.errors?.pattern" class="error">
                                      Invalid Address
                                    </div>
                                  </div>
                            </div>
        		    	</div>
				        <div class="modal-footer">

                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid">CHECKOUT</button>
                            </div>
				        </div>
                    </form>
                    <!-- End # Login Form -->

                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
    	    		    <div class="modal-body">
		    				<div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
		    				<input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
            			</div>
		    		    <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
		    		    </div>
                    </form>
                    <!-- End | Lost Password Form -->

                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
            		    <div class="modal-body">
		    				<div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
		    				<input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
            			</div>
		    		    <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>
		    		    </div>
                    </form>
                    <!-- End | Register Form -->

                </div>
                <!-- End # DIV Form -->

			</div>
		</div>
	</div>

<div *ngIf="confirmPopUp" class="order-success">
  <p class="success-message">
    Hi {{name}},<br />
    Your Order is confirmed.
    <br />
    Will Be Delivered at:<br />
    {{ address }}
  </p>
</div>
